/*
juarez.css
Author: Juarez Barbosa Junior - Student ID 20197080 
*/

/* configuration of flex box layout container*/
.container {
	display: flex;
}

/* styling for container div x - flex box layout info */
.container > div {
	font-size: 1.5vw;
	font-family: Fira-Sans;
	padding: 0.25em;
	color: #1abc9c;
}

/* styling for the header element - custom color */
h1,
h2,
h3 {
	color: black;
	font-family: Fira Sans, sans-serif;
}

/* styling for the rectangle effect element in email page - flex box layout info, image,color,  etc */
.rectangle {
	height: 330px;
	width: 600px;
	background-color: #1abc9c;
	position: relative;
	top: 50px;
	left: 450px;
}

/* styling for email box in home - flex box layout, font family info */
.email_box_home {
	
	align-items: center;
	align-content: center; /* cross Y */
	justify-content: center; /* axis X */
	flex-grow: 1;
	position: relative;
	top: 10px;
	left: 0px;
	font-family: Fira Sans, sans-serif;
}

/* styling for painted  box - flex box layout, color */
.festival_painted_box {
	background-color: #1abc9c;
	align-items: center;
	align-content: center; /* cross Y */
	justify-content: center; /* axis X */
	flex-grow: 1;
}